parameters:
	ignoreErrors:
		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/muqsit/vanillagenerator/generator/object/tree/JungleBush.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/muqsit/vanillagenerator/generator/overworld/decorator/UnderwaterDecorator.php

